<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>
</head>
<body>
    {% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
        %}
        <h1 style="text-align:center"><strong>Resume</strong></h1>
    
    <h2>Laszlo Talian</h2>
    
    <hr />
    <p><strong>TECHNICAL SKILLS</strong><br />
    <span style="font-size:14px">CI/CD<br />
    Kubernetes<br />
    Python, Flask<br />
    Docker<br />
    Azure<br />
    Git<br />
    Ansible<br />
    MySQL, NoSQL<br />
    IT Security &amp; Network basics<br />
    Google Apps Script</span></p>
    
    <hr />
    <p><strong>EXPERIENCE</strong><br />
    <strong><em>2023.04 - 2023.09. - PROGmasters DevOps Junior</em></strong></p>
    
    <ul>
        <li>Agile, project-based teamwork <span style="font-size:12px">(deploying a Java and Angular based webapplication into Azure&nbsp;cloud using AKS with&nbsp;GitLab CI/CD)</span>&nbsp;</li>
    </ul>
    
    <p><em><strong>&nbsp;2021 - present - Karzol Trans Kft - Export manager, freight planner</strong></em></p>
    
    <ul>
        <li>Handling of international freight transportation</li>
        <li>Warehouse loigitstics organization</li>
        <li>Automation of freight planning in Google Workspace, developement</li>
        <li>Keeping contact with main partners</li>
    </ul>
    
    <p><em><strong>2018 - 2021 North - East Barbershop Kazincbarcika - Owner of business</strong></em></p>
    
    <ul>
        <li>Handling business-related matters</li>
        <li>Conducting interviews</li>
    </ul>
    
    <p><em><strong>2017 - 2021 - International Lorry Driver - Various companies (including Wallenborn Transports SA, Waberers, Prevost, Lerton Trans Kft.)</strong></em></p>
    
    <ul>
        <li>International airfreight cargo, high priority goods</li>
    </ul>
    
    <p>2015 - 2016 The Elms Hotel and Spa Abberley, UK - Food &amp; Beverage assistant, Bar supervison</p>
    
    <ul>
        <li>Stock management, stocktake</li>
        <li>Basic hospitality&nbsp;&nbsp;activities</li>
    </ul>
    
    <hr />
    <p><strong>EDUCATION</strong></p>
    
    <p><strong>2023.04 - 2023.09. - PROGmasters DevOps Junior<br />
    2010 - 2014 - Irinyi Janos Reformatus Szakkozepiskola - Information Technology, Kazincbarcika</strong></p>
    
    <hr />
    <p><strong>OTHER SKILLS</strong></p>
    
    <p><strong>Fluent english</strong><br />
    <strong>Driving licenses:</strong> B, C, C+E</p>
    
    <hr />
    <p><strong>INTERESTS</strong></p>
    
    <p>Driving, squash, hiking, workout, cooking, board games, pc games, coding, AI</p>
    
    <hr />
    <p style="text-align:right"><strong>2024</strong></p>
        {% endblock %}   
</body>
</html>
