{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 text-align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{ note.text }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
 <textarea name="note" id="note" class="form-control"></textarea>
<br />
    <div text-align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}
